@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital@1&family=Rock+Salt&display=swap');
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #dac6a2;
}

/* main page */

#content {
    max-width: 1400px;
    margin: 0 auto;
   
}

header {
  
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #775c4e;
   
}

.logo {
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

nav a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

#heading {
    text-align: center;
    padding-bottom: 50px;
}

#heading h1 {
    font-size: 50px;
    font-family: handlee;
    color: #b93a3a;
}

#heading h2,
h3 {
    font-size: 25px;
    font-family: Montserrat;
    color: #b93a3a;
}

#pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: 450px 300px 300px 316px;
    justify-items: center;
    align-items: center;
    background-color: #c89e48;
    margin-top: 50px;
}

body {
    display: grid;
    flex-direction: column;
    position: relative;
    padding-bottom: 74.33px;
}

.facebook {
    grid-column: 4/5;
}

footer,
footer a {
    color: white;
    text-decoration: none;


}

.social {
    padding-top: 5px;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Montserrat;
    margin-bottom: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 50px;
}

#vendor_msg {
    display: grid;
    max-width: 1372px;
    padding: 1px 0px 1px 75px;
    margin-top: 100px;
    padding-inline-end: 25px;
}




/* CHILD page events*/

#events_msg {
    display: grid;
    grid-template-columns: 466px 466px 466px;
    grid-template-rows: 410px 410px;
    justify-content: center;
}

.girl {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin: auto;
    display: block;
}

#face_painting {
    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}


#face_painting p {
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
    padding-inline-start: 60px;
}

.pumpkin {
    grid-column: 2;
    grid-row: 2;
    align-self: stretch;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

#pumpkin_carving p {
    justify-content: center;
    margin-top: 10px;
    margin-right: 30px;
    padding-inline-start: 60px;
}

#pumpkin_carving {
    grid-column: 2;
    grid-row: 1;
}

#petting_zoo {
    grid-column: 3;
    grid-row: 2;
}

#petting_zoo p {
    justify-content: center;
    margin-top: 60px;
    padding-inline-start: 60px;
}

.goats {
    grid-column: 3;
    grid-row: 1;
    display: block;
    padding-left: 20px;
    margin-top: 25px;
}

.center-pumpkin {
    padding-top: 175px;
    display: block;
}

/*child page vendors*/

#vendors_quote {
    display: grid;
    grid-template-columns: 466px 466px 466px;
    grid-template-rows: 425px 425px;
    justify-content: center;
}

.kids {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    display: block;
    padding-top: 50px;
}

.vendor_picture1 {

    justify-items: center;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
}

#vendor_picture1 p {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    margin-top: 75px;
    margin-right: 40px;
    padding-inline-start: 60px;
    padding-top: 10%;
    padding-bottom: 80%;
}

.booths {
    grid-column: 2;
    grid-row: 2;
    display: block;
    margin-left: 10px;
}

#people_shop p {
    justify-content: center;
    margin-top: 75px;
    margin-right: 30px;
    padding-inline-start: 60px;
}

#people_shop {
    grid-column: 2;
    grid-row: 1;
}

#pumpkin_crafts {
    grid-column: 3;
    grid-row: 2;
}

#pumpkin_crafts p {
    grid-row: 2;
    padding-inline-start: 60px;
}

.pumpkin_crafts1 {
    padding-top: 130px;
}

.crafts {
    grid-column: 3;
    grid-row: 1;
    display: block;
    margin-left: 5px;
    margin-top: 55px;
}

.shopping {
    padding-top: 175px;
    display: block;
}